---
import * as data from '../data/home.md'
---

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">{data.frontmatter.features.sectionTitle}</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{data.frontmatter.features.sectionSubtitle}</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">{data.frontmatter.features.sectionDescription}</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                {data.frontmatter.features.services.map((service) => (
                        <div class="flex flex-col">
                            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                {/* Use the img tag to render the icon */}
                                <img
                                        src={service.imgSrc.replace('public', '')}
                                        alt={service.imgAlt}
                                        class="h-5 w-5 flex-none text-indigo-600"
                                />
                                {service.title}
                            </dt>
                            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                <p class="flex-auto">{service.description}</p>
                                <p class="mt-6">
                                    <a href={service.linkHref} class="text-sm font-semibold leading-6 text-indigo-600">
                                        {service.linkText} <span aria-hidden="true">→</span>
                                    </a>
                                </p>
                            </dd>
                        </div>
                ))}
            </dl>
        </div>
    </div>
</div>
